@using Microsoft.AspNetCore.Identity
@using OnlineVideoStreamingApp.Areas.Identity.Data

@inject SignInManager<OnlineVideoStreamingAppUser> SignInManager
@inject UserManager<OnlineVideoStreamingAppUser> UserManager

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
        var user = await UserManager.GetUserAsync(User);
        // Get the URL of the user's profile image
        var userProfileImageUrl = user.ProfileImageUrl;
        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
      
        <li class="nav-item">
            <a class="nav-link text-dark navbarElement" asp-area="" asp-controller="VideosModels" asp-action="YourVideos">Your Videos</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark navbarElement" asp-area="" asp-controller="VideosModels" asp-action="SavedPosts">
                <i class="fas fa-bookmark"></i> Saved Videos</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark navbarElement" asp-area="" asp-controller="Advertisements" asp-action="Index">
                <i class="fas fa-bullhorn"></i>
                 Post Ads
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark navbarElement" asp-area="" asp-controller="CustomerSupportModels" asp-action="Index">
                <i class="fas fa-headset"></i>
                Customer Support
            </a>
        </li>
        </div>

        <li class="nav-item">
            <a id="manage" class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
                @*<strong>Hello @UserManager.GetUserName(User)!</strong>*@
                <img src="@userProfileImageUrl" alt="Profile Image" class="rounded-avatar">
            </a>
        </li>
    <li class="nav-item">
        <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button id="logout" type="submit" class="nav-link logout-btn">
                    <i class="fas fa-sign-out-alt"></i>logout

            </button>
        </form>
    </li>
   
}
else
{
    <li class="nav-item">
        <a class="nav-link text-dark btn btn-primary text-white me-2 " id="register" asp-area="Identity" asp-page="/Account/Register">Register</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark btn btn-primary text-white" id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>
    </li>
}
</ul>
<style>
    .rounded-avatar {
        border-radius: 50%;
        width: 40px;
        height: 40px;
        object-fit: cover;
    }

    .logout-btn{
        border: none;
        margin-top: 2px;
        color: black;
        border-radius: 5px;
    }

  
</style>