@model OnlineVideoStreamingApp.Models.VideosModel

@{
    ViewData["Title"] = "Create";
}

<h4>Upload a new Video</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
     @*       <div class="form-group">
                <label asp-for="ThumbNailImage" class="control-label"></label>
                <input asp-for="ThumbNailImage" class="form-control" />
                <span asp-validation-for="ThumbNailImage" class="text-danger"></span>
            </div>*@
        @*    <div class="form-group">
                <label asp-for="VideoUrl" class="control-label"></label>
                <input asp-for="VideoUrl" class="form-control" />
                <span asp-validation-for="VideoUrl" class="text-danger"></span>
            </div>*@
         
            <div class="form-group" hidden>
                <label asp-for="LikesCount" class="control-label"></label>
                <input asp-for="LikesCount" class="form-control" />
                <span asp-validation-for="LikesCount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VideoTitle" class="control-label"></label>
                <input asp-for="VideoTitle" class="form-control" />
                <span asp-validation-for="VideoTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VideoDescription" class="control-label"></label>
                <input asp-for="VideoDescription" class="form-control" />
                <span asp-validation-for="VideoDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VideoCategory" class="control-label"></label>
                <input asp-for="VideoCategory" class="form-control" />
                <span asp-validation-for="VideoCategory" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Choose a Thumbnail for your Video</label>
                <input type="file" name="thumbnailimage" class="form-control" />
            </div>
            <div class="form-group">
                <label class="control-label">Choose a Video file to Upload</label>
                <input type="file" name="videofile" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-primary mt-3">Back to Subscribed videos</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
